<h4>Book Title: <%= @book.title %></h4>

<h3>Book Author</h3>

<% if @book.authors %>
<ul>
    <% @book.authors.each do |author| %>
    <li><a href="/books/<%= @book.id %>/authors/<%= author.id %>"><%= author.name %></a></li>
    <% end %>
</ul>
<% else %>
<p>There are no authors listed for this book yet.</p>
<% end %>


<h4>Add a author:</h4>

<form action="/books/<%= @book.id %>" method="post">
    <label>
        Author name
        <input name='name' type="text">
    </label>
    <button type="submit">Add author</button>
</form>

<p><a href="/books/<%= @book.id %>/edit">Edit book</a></p>
<a href="/books">Return to book list</a>
