<h3>Patron Name: <%= @patron.name %></h3>

<% if @patron.books && @patron.books.length > 0 %>

<ul>
    <% @patron.books.each do |book| %>
    <li><%= book[0].title %>  Due date: <%= book[1] %></li>
    <% end %>
</ul>
<% else %>
<p>There are no books listed for this patron yet.</p>
<% end %>

<h4>Add an book:</h4>

<form action="/patrons/<%= @patron.id %>" method="post">
    <label>
        Book Title
        <input name='book_title' type="text">
    </label>
    <button type="submit">Add Book</button>
</form>

<p><a href="/patrons/<%= @patron.id %>/edit">Edit Patron</a></p>
<a href="/patrons">Return to patron list</a>
